################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SwaggerExtension.Test/obj/Debug/net5.0
/SwaggerExtensions/obj/Debug/net5.0
